<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Get Best Software Solution for work - Sdsoft</title>
        <meta name="title" content="Get Best Software Solution for work - Sdsoft" />
        <meta name="keywords" content="sdsoft,softwares,soft,sd" />
        <meta name="description" content="Sdsoft provide best softwares for online,offline work." />
        <meta name="author" content="sdsoft" />

        <meta property="og:title" content="Get Best Software Solution for work - Sdsoft"/>
        <meta property="fb:pages" content="108176974374155">
        <meta property="og:image:alt" content="Get Best Software Solution for work - Sdsoft"/>
        <meta property="og:site_name" content="sdsoft" />
        <meta property="og:description" content="Normaloffer is the best source of technology product reviews, offers, health,notes, how-tos and more."/>
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://sdsoft.xyz" />
        <meta property="og:image" content="https://sdsoft.xyz/frontend/assets/img/og_image.jpg" />
        <meta property="og:image:width" content="600" />
        <meta property="og:image:height" content="315" />
        <meta property="og:site_name" content="Sdsoft" />

        <!-- Favicon-->
        <link rel="shortcut icon" href="/frontend/assets/img/favicon.png" />
        <link href="/frontend/css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="/assets/css/font-awesome.css">
        <script src="//code.jivosite.com/widget/G1q9DD4MsQ" async></script>
    </head>
    <body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 navbar-scrolled" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">
                <img src="/frontend/assets/img/logo.svg" width="120">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <% if(!is_user){ %><li class="nav-item"><a class="nav-link js-scroll-trigger" href="/signup">Signup</a></li><% } %>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/user"><% if(is_user){ %>My Account <% }else{ %>Login<% } %></a></li>
                </ul>
            </div>
        </div>
    </nav>