<%- include('../include/header') %>
<section class="content-header">
    <h1>
        Dashboard
        <small>License Requests</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/manager/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">License Requests</li>
    </ol>
</section>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <form id="paginate_form" data-url="manager_pagination/licenses" method="post" onsubmit="return get_data_pagination()" class="box box-success">
                <div class="box-header">
                    <h4 class="box-title">License Requests</h4>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>User</th>
                            <th>Software</th>
                            <th>License Key</th>
                            <th>Duration</th>
                            <th>Expired In</th>
                            <th>Status</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody id="get_paginate_data">

                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right" id="paginate_rows">

                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('../include/footer') %>
<script>
    get_data_pagination();
</script>